main {
	background-color: $background-color-main;
}

a {
	transition: all 0.3s ease 0s;
	color: $link-color;
	background-color: 709775;
		
		&:hover {
			color: $link-color-hover;
			text-decoration: none;
		}
}
