/*Define mixins*/

$shadow-subheading-size: 0.10rem;
@mixin shadow-subheading ($color: $bg-banner, $size: $shadow-subheading-size) {
	@if (lightness($color)<25%) {
		$color: lighten($color, 10%);
	}@else {
		$color: darken($color, 20%);
	} 
	text-shadow: $size $size $color;
}

@mixin autotext ($blinker-name, $ft-size: $ft-size-h1) {
	border-right: 0.15em solid;
	letter-spacing: 0.05em;
	animation: $blinker-name 0.75s step-end infinite;
	min-height: add-height($ft-size);
}/*ne pas oublier d'ajouter dans le HTML 
la classe "autotext" pour activer le javascript*/

$form-input-palette: (
	required: (
		bg:$clr-bg-fr,
		outline: $clr-outline-fr,
		),
	optional: (
		bg:$clr-bg-fr,
		)
	);

@mixin form-input-palette($state) {
	$palette: map-get($form-input-palette, $state);
	background-color: map-get($palette, bg);
	outline-color: map-get($palette, outline);
	border: none;
};

/*Define functions*/

@function add-height ($ft-size) {
	$ft-size-per-ten: $ft-size*10;
	$ft-size-divided-per-100: $ft-size-per-ten/100;
	$new-height: $ft-size-divided-per-100 + $ft-size;
	@return $new-height;
}





