/*Define mixins*/

$shadow-subheading-size: 0.10rem;
@mixin shadow-subheading ($color: $bg-banner, $size: $shadow-subheading-size) {
	@if (lightness($color)<25%) {
		$color: lighten($color, 10%);
	}@else {
		$color: darken($color, 20%);
	} 
	text-shadow: $size $size $color;
}