/*Define colors
bg = background
The name of a variable is created as property-element--number.
For the color (property) of a link (element), variable is : color-link*/

$color-link: #415D43;
$color-link--hover: #111D13;

$clr-brd: white;
$clr-brd-2: red;

$bg-main: #C7CCB9;
$bg-nav: #A1CCA5;
$bg-banner: #7E7B72;
$bg-footer: $bg-nav; 

$color-p--secondary: red;

$color-btn: white;
$bg-btn: $color-link;
$bg-btn--secondary: $color-p--secondary;

$clr-bg-fr: white;
$clr-outline-fr: red;

/*Define heights*/
$height-nav : 3.8rem;

/*Define font-size*/

$ft-size-h1: 5rem;
$ft-size-frm: 1.2rem;







