/*Define colors
bg = background
The name of a variable is created as property-element--number.
For the color (property) of a link (element), variable is : color-link*/

$color-link: #415D43;
$color-link--hover: #111D13;

$bg-main: #C7CCB9;
$bg-nav: #A1CCA5;
$bg-banner: #7E7B72;
$bg-footer: $bg-nav; 

$color-p--secondary: red;

$color-btn: white;
$bg-btn: $color-link;
$bg-btn--secondary: $color-p--secondary;

/*Define heights*/
$height-nav : 3.8rem;


/*Define mixins*/

$shadow-subheading-size: 0.10rem;
@mixin shadow-subheading ($size: $shadow-subheading-size, $color: $bg-banner) {
	text-shadow: $size $size lighten($color, 20%);
}
