/*Define colors*/
$link-nav: #415D43;
$link-nav-hover: #111D13;
$btn-color: white; 
$background-color-banner: #7E7B72;
$background-color-navbar: #A1CCA5;
$background-color-main: #C7CCB9;

/*Define heights*/
$nav-height : 60px;