.btn {
	color: $color-btn;
	background-color: $bg-btn;
  padding: 0.4rem 1.8rem;
  border-radius: 50px;

  	&--red {
  		background-color: $bg-btn--secondary;
  	}

  	&--big {
  		 padding: 1rem 4rem;
  		 font-size: 1.2rem;
  		 max-width: 80%;
  	}

  	&:hover {
			background-color: $color-link--hover;
			border-color: $color-link--hover;
			color: $color-btn;
  	}
}
