.prod-attr {
	padding: 2rem 1.3rem;
	text-align: center;

		p {
			text-align: justify;
			font-size: 1.2rem;
		}
}

.prod-attr--red{
	color: red;
}

.prod-attr__logo {
	font-size: 4rem;
	padding-bottom: 2rem;
}

