.prod-attr {
	padding: 2rem 1.3rem;
	text-align: center;

		p {
			text-align: justify;
			font-size: 1.2rem;
		}

		&__logo {
			font-size: 4rem;
			padding-bottom: 2rem;
		}

		&--red {
			color: red;
		}
}



