form {
	padding: 2rem 3rem;
	max-width: 400px;
	margin: auto;
	text-align: center;

		h1 {
			font-size: map-get($font-size, subheading);
			padding-bottom: 2rem;			
		}

}
			

.form__info {
	font-size: map-get($font-size, para);
	padding-bottom: 1rem;

	& input {
		@include form-input-palette($form-input-palette);
	}
		.btn {
			margin-top: 1rem;		
		}
}


