form {
	padding: 2rem 3rem;
	max-width: 400px;
	margin: auto;
	text-align: center;

		h1 {
			font-size: 2rem;
			padding-bottom: 2rem;			
		}

}

.form__info {
	font-size: $ft-size-frm;
	padding-bottom: 1rem;

		.btn {
			margin-top: 1rem;		
		}

		.autotext {
			@include autotext($ft-size-frm, $clr-bdr-2);
		}
}