nav {
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: fixed;
	height: $nav-height;
	width: 100%;
	background-color: $background-color-navbar;
	z-index: 1000;
	display: flex;

		a {
			vertical-align: middle;
		}
}

.nav__logo {
	font-size: 2rem;
}

.nav__link {
	padding-right: 1rem;
}



