main {
	background-color: $bg-main;
}

a {
	transition: all 0.3s ease 0s;
	color: $color-link;
		
		&:hover {
			color: $color-link--hover;
			text-decoration: none;
		}
}

h1 {
  font-size: map-get($font-size, heading);
  	@include mobile-only{
			font-size: map-get($font-size-xs, heading);
		}
}


