.banner {
	padding-top: $height-nav;
	background-color: $bg-banner;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
		
		h1 {
			font-size: 5rem;
			text-transform: uppercase;

		}

		h2 {
			font-size: 1.5rem;
			padding-bottom: 0.6rem;
			@include shadow-subheading;
		}
}

@keyframes blink {
	from, 
	to {
		border-color: transparent;
	}
	50% {
		border-color: #ff79c6;
	}
}

#autotext {
	border-right: 0.15em solid #ff79c6;
	letter-spacing: 0.05em;
	animation: blink 0.75s step-end infinite;
}

.height {
		min-height: 6.5rem;
}