footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $height-nav;
  padding: 0rem 1rem;
  color: rgba(0,0,0,0.3);
  background-color: $bg-footer;
}

.footer__links {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
    a {
      padding-right: 0.5rem;
    }
}

